<div class="jumbotron">
  <h2>Willkommen, Bienvenue, Welcome!</h2>
  <p class="lead">
    <img src="images/poweoo.jpg" style='width:100%;' border="0" alt="poweoo.jpg"><br>
    Bienvenue sur le site de Poweoo.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>TP AngularJS module SIR, Master 1 MIAGE.</h4>
  <p>
    Poweoo communique via une API REST (JEE + Jersey) à une base de données Mysql. <br>
    Via ce client il est possible de visualiser les utilisateurs et les foyers (Bug pour ajout de personnes).
  </p>
</div>
